

@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

.title-slide {
    background-image: url("../figures/structure.png");

}

.tinted {
    background: rgb(225, 229, 231);
}

.activity-format {
    background: rgb(204, 204, 250);
}

.remark-slide>.breakout{
     border: 50px;
     border-color: rgb(137, 171, 192);
     border-style: solid;
     background-color:hsl(208, 39%, 94%);
     color: rgb(65, 106, 133);
}


body {
    font-family: 'Droid Sans', sans-serif;
    margin:0;
    padding:0;
}

h1, h2, h3 {
    font-family: 'Droid Sans', sans-serif;
    font-weight: lighter;
    padding:0;
    margin:0;
}
h1 {
    font-size: .5em;
}

h4 {
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    padding:4px 0 0 0 ;
    margin:0;
}

.inverse {
    background: rgb(137, 171, 192);
    color: #2e3d4c;
    text-shadow: 0 0 20px #333;
}

.inverse h1, .inverse h2 {
    color: #f3f3f3;
    line-height: 1.0em;
}

.activity {
    background: rgb(255, 204, 204);
    color: #00008B;
    padding-top: 1em
}

.remark-slide-content > h1:first-of-type {
    margin-top: 0.0ex;
    padding-top:0.0px;
    line-height: 1;
}

.author {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 3em;
    font-size: 160%;
}


.license {
    position: absolute;
    bottom: 0em;
    font-size: 70%;
    text-align: left;
}

.footnote {
    position: absolute;
    bottom: 1em;
    font-size: 70%;
}

.bottom-left {
    position: absolute;
    bottom: 0.6em;
    font-size: 70%;
    text-align: left;
    /*font-size: 70%;*/
}

.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
    line-height: 1.15;
}

/*remove extra space from top of the slide*/
.remark-slide-content {
  padding-top: 0;
}

.fixed{ font-family: monospace }

.fixedblue{
    font-family: monospace;
    color: #0000DD;
}

.tiny { font-size: 50%; }
.small { font-size: 70%; }
.smaller { font-size: 85%; }
.big { font-size: 140%; }
.bigger {font-size: 160%; }
.large { font-size: 200%; }
.huge { font-size: 300%; }
.code{font-family: 'Ubuntu Mono'; }
.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }
.center70 {
    text-align:center;
    width: 70%;
}

.small .hljs { font-size: 70%; }
.smaller .hljs { font-size: 85%; }

.highlight{
    background-color: #FECA3F;
}

.standout{
    color: #CC0000;
}

.blue{
    color: #0000DD;
}
.bluebold{
    color: #0000DD;
    font-weight: bold;
}

.red{
    color: #dc143c;
}

.redbold{
    color: #dc143c;
    font-weight: bold;
}

.green{
    color: #008000;
}

.greenbold{
    color: #008000;
    font-weight: bold;
}

.section {
    background-color: #CABFDC;
    border-style: solid;
    border-color: #999; border-width:5px;
    padding: 2.5em;
}

/* code output formatting */
.output {
  margin: 1px;
  padding: 0 0 0 0.5em;
  /*border-style: solid; border-color: #AAA; border-width:1px;*/
  background-color: #CCC;
}

/* code output formatting */
.box2 {
  margin: 0 0.5em 0 0.5em;
  padding: 0.5em;
  border-style: solid; font-size: 70%; border-color: #AAA; border-width:3px;
  background-color: #CABFDC;
}

/* box formatting - old
.box {
  font-size: 120%;
  margin: 0 0.5em 0 0.5em;
  padding: 0.5em;
  border-style: solid;
  border-color: #AAA; border-width:3px;
  background-color: rgb(202, 224, 231);
}
*/

.box {
  font-size: 90%;
  margin: 0 0em 0 0.0em;
  padding: 0px 5px  0px  5px;
  border-style: solid;
  border-color: #AAA; border-width:1px;
}

.box pre {
  margin: 0;
}

.box hljs {

}

.yellow {
  background-color: rgb(255, 255, 128);
}

.lightblue {
  background-color: rgb(199, 241, 255);
}

.lightgreen {
  background-color: rgb(238, 255, 204);
}



.yellowbox  {
  margin: 0 0em 0 0.0em;
  padding: 1px 5px  1px  5px;
  border-style: solid;
  border-color: #AAA; border-width:1px;
  background-color: rgb(255, 255, 128);
}

.yellowbox .hljs {
  background-color: rgb(255, 255, 128);
}

.yellowbox pre {
  margin: 0;
}


.lightbluebox {
  margin: 0 0em 0 0.0em;
  padding: 1px 5px  1px  5px;
  border-style: solid;
  border-color: #AAA; border-width:1px;
  background-color: rgb(199, 241, 255);
}

.lightbluebox .hljs {
  background-color: rgb(199, 241, 255);
}

.lightbluebox pre {
  margin: 0;
}



.lightredbox {
  font-size: 90%;
  margin: 0 0em 0 0.0em;
  padding: 1px 5px  1px  5px;
  border-style: solid;
  border-color: #AAA; border-width:1px;
  background-color: rgb(255, 230, 230);
}

.lightredbox .hljs {
  background-color: rgb(255, 230, 230);
}

.lightredbox pre {
  margin: 0;
}

.lightgreenbox {
  font-size: 90%;
  margin: 0 0em 0 0.0em;
  padding: 1px 5px  1px  5px;
  border-style: solid;
  border-color: #AAA; border-width:1px;
  background-color: rgb(238, 255, 204);
}

.lightgreenbox .hljs {
  background-color: rgb(238, 255, 204);
}

.lightgreenbox pre {
  margin: 0;
}


.centered_80{
    width: 80%;
    margin:auto;
}

.centered_80_hanging p {
    padding-left: 2em ;
    text-indent: -2em ;
}
.zero_list {
  counter-reset: zero-counter -1;
  text-indent: -2ex;
}
.zero_list ol {
    list-style: none;
}
.zero_list li::before {
    counter-increment: zero-counter;
    content: counter(zero-counter) ". " ;
}

/* Two-column layout */
.left-column {
width: 44%;
float: left;
padding: 0% 5% 1% 1%;
}

.right-column {
width: 44%;
float: right;
padding: 0% 1% 1% 5%;
}

.below-column {
  clear: both;
}

/* Two-column layout */
.left-column-larger {
width: 54%;
float: left;
padding: 0% 5% 1% 1%;
}

.right-column-smaller {
width: 34%;
float: right;
padding: 0% 1% 1% 5%;
}



/* Two-column layout */
.left-column-small {
width: 24%;
float: left;
padding:1% 5% 1% 1%;
}

.right-column-large {
width: 64%;
float: right;
padding:1% 1% 1% 5%;
}



/* Two-column layout */
.left-column-large {
width: 64%;
float: left;
padding:1% 5% 1% 1%;
}

.right-column-small {
width: 24%;
float: right;
padding:1% 1% 1% 5%;
}




@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

table {
    /*font-family: arial, sans-serif;*/
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 2px;
}
/*
tr:nth-child(odd), td {
    border: 1px solid #ffffff;
    background-color: #eeeeee;
}*/
.super{
   vertical-align: super;
   font-size: 70%;
 }

.sub{
   vertical-align: sub;
   font-size: 70%;
 }
